* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.navbar {
  background-color: #efc65d;
}

.banner {
  margin-top:  50px;
  background-color: #aad3dc;
}

.cardHighlight {
  margin-top: 10%;
  border: none;
  border-left: 5px solid #469387;
}

.error {
  margin-top: 20px;
  background-color: #aad3dc;
}